.item-modal{
    position: fixed;
    display: grid;
    place-items: center;
    background-color: rgba(0,0,0, 0.4);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10em;
    background-color: #2c2c2c;
    height: 80%;
    width: 80%;
    border-radius: 8px;
}

.card-title{
    padding: 1em;
}

.close-button{
    display: inline-block;
    width: 2.5em;
    cursor: pointer;
    border-radius: 50%;
    margin: 1em;
    line-height: 0;
    background-color: #2c2c2c;
    border: 0;
}

.close-button>.close-icon:hover{
    fill: white;
}

.close-icon{
    transition: fill 0.2s ease-in-out;
    fill: #cacacae1;
}

.close-section{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}